部署参加
<%= form_with url: depart_join_create_groups_path, method: :patch, local: true do |f| %>
  <div id="depart_child1">
    会社名：<%= f.collection_select(:group_id, Group.where(ancestry: nil), :id, :name, {prompt: "選択してください"}, {id: "depart_join_company"}) %>
  </div>
  <div id="depart_child2">

  </div>
  <div id="depart_child3">

  </div>
  <div id="depart_child3">

  </div>
  <div id="depart_child4">

  </div>
  <%= f.submit "管理者に申請する" %>
<% end %>
