<div id="error-page">
  <div class="body-header">
    <%= image_tag src="errors/ariletter_error.png"%>
  </div>
  <div class="body-content">
    <h1>404 お探しのページは見つかりませんでした</h1>
    <div class="sub-text">
      <p>URLに誤りがあるか、お探しのページは移動もしくは削除された可能性があります。</p>
      <ul>
          <li><a href="/">トップページ</a>から改めてリンクをたどる</li>
          <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfjTDwq0919haawfpVijGTRP60GruFrcp9JoQ964Y5XCp5VVw/viewform?usp=sf_link">お問い合わせ</a>からご連絡いただく</li>
      </ul>
      <p>といった方法で、ご希望のページが見つかる場合もありますので、どうぞご利用ください。</p>
    </div>
  </div>
</div>
