<div id="error-page">
  <div class="body-header">
    <%= image_tag src="errors/ariletter_error.png"%>
  </div>
  <div class="body-content">
    <h1>500 サーバーエラーが発生しました。</h1>
    <div class="sub-text">
      <p>サーバーの問題でお探しのページを表示できません。<br>再度時間をおいてアクセスしてください。</p>
      <ul>
          <li><a href="/">トップページ</a>から改めてリンクをたどる</li>
          <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfjTDwq0919haawfpVijGTRP60GruFrcp9JoQ964Y5XCp5VVw/viewform?usp=sf_link">お問い合わせ</a>からご連絡いただく</li>
      </ul>
      <p>といった方法で、解決できる場合もありますので、どうぞご利用ください。</p>
    </div>
  </div>
</div>
