.form_search_group{
  position: absolute;
  top: 10vh;
  left: 10vw;
  width: 80vw;
  height: 80vh;
  background-color: aqua;

  // グループ検索の情報
  .form_top{
    background-color: burlywood;
    width: 80%;
    height: 40%;
    padding: 0 10%;
    .search_list{
      display: flex;
    }
  }
  // 検索結果を表示させることころ
  .form_result{
    background-color: red;
    width: 80%;
    height: 60%;
    padding: 0 10%;
  }
}

