
@media screen and (max-width:480px) {
  ::placeholder {
    font-size: 12px;
  }

  .ari-logo{
    display: block;
    margin: 0 auto !important;
    height: 100px !important;
  }

  .main-box {
    flex-direction: column !important;
    position: static !important;
  }
  
  .main-box__img {
    width: 100% !important;
    align-items: initial !important;
  }
  
  .thanks-img {
    max-width: 200px !important;
    width: 100% !important;
    position: initial !important;
    margin: 0 auto !important;
  }

  .pc-img {
    padding-left: 1% !important;
    width: 50% !important;
    margin: 0 auto !important;
  }

  .login-signup__content {
    height: 75vh !important;
  }
}