<p>日頃よりご利用いただき誠にありがとうございます。<br>
※このメールは、ご本人様確認のため、ご登録のメールアドレスへ自動的にお送りしています。<br>
下記のリンクにアクセスし、パスワードを変更してください。<br>
【パスワード変更用リンク】<br>
<%= link_to 'パスワード再設定', edit_password_url(@resource, reset_password_token: @token) %><br>
————————————————————————————<br>
このメールに心当たりのない方、またはご不明な方は、このメールを無視してください。<br>
上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。<br>
————————————————————————————<br>
■サービス名：アリレター<br>
■運営元　　：コーレ合同会社<br>
このメールは送信専用アドレスからお送りしています。<br>
ご返信いただいてもお答えできませんのでご了承ください。<br>
不明点やご質問ございましたら、<%= link_to 'こちら', 'https://ariletter.co-r-e.net/' %>のお問い合わせフォームよりお問い合わせください。<br>
————————————————————————————
（C）2021 CORE LLC
</p>
