<h1>登録ユーザー 一覧</h1>
<div class="user_index">
    <ul>
        <% @user.each do |user| %>
            <li class="user">
                <%= user.name %>
                <button>
                    <%= link_to "更新", edit_admin_user_path(user) %>
                </button>
                <button>
                    <%= link_to "削除", admin_user_path(user), method: :delete %>
                </button>
        <% end %>
    </ul>
     <div class= "user_new">
        新規ユーザー登録はコチラ
        <button>
            <%= link_to "新規登録", new_admin_user_path %>
        </button>
    </div>
</div>