<% if @user.errors.any? %>
    <div class="alert alert-warning">
        <ul>
          <% model.errors.each do |attr, msg| %>
            <% if model.errors[attr].first == msg %>
            <li><%= "#{attr} #{msg}" %></li>
            <% end %>
        <% end %>
        </ul>
    </div>
<% end %>